@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

body {
    background-image: linear-gradient(to left, #E6DFC5, #83B0B5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5a797c9c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #E25345;
    text-align: center;
    text-shadow: 1px 1px 2px #99393059;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #3A4766;
}

p {
    font-family: ;
    color: #1E2335;
    text-align: justify;
}